:root {
  --hot-rose: #b00b69ff;
  --dark-raspberry: #8b0f56ff;
  --crimson-violet: #651242ff;
  --midnight-violet: #40152fff;
  --midnight-violet-2: #2d1725ff;
  --shadow-grey: #1a181bff;

  --color-bg: var(--shadow-grey);
  --color-card: var(--crimson-violet);
  --color-card-secondary: var(--midnight-violet);
  --color-card-border: white;
  --color-btn-primary: var(--midnight-violet);
  --color-btn-secondary: var(--midnight-violet-2);
  --color-txt-primary: white;
  --color-txt-secondary: gray;
  --color-txt-highlight: var(--hot-rose);
  --color-txt-success: lime;
  --color-text-failure: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--color-txt-primary);
}

html,
body {
  height: 100%;
  overflow: hidden;
  background-color: var(--color-bg);
}

table,
tr,
td {
  border: 1px solid white;
  border-collapse: collapse;
  padding: 4px 8px;
  margin: 0px;
  text-align: end;
}

table {
  width: 100%;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.08);
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.box {
  border: 1px solid var(--color-card-border);
  color: var(--color-txt-primary);
  padding: 4px;
}

.card {
  background-color: var(--color-card);
  color: var(--color-txt-primary);
  justify-content: center;
  width: fit-content;
  box-shadow: 2px 4px black;
  border-radius: 8px;
}

.card.secondary {
  background-color: var(--color-card-secondary); 
}


.btn {
  width: 100%;
  padding: 8px 16px;
  background-color: var(--color-btn-primary);
  color: var(--color-txt-primary);
}

.btn:hover {
  background-color: var(--color-btn-primary);
  color: var(--color-txt-primary);
}

.btn-secondary {
  background-color: var(--color-btn-secondary);
}

.btn-secondary:hover {
  background-color: var(--color-btn-secondary);
}

.btn-light{
  background-color: lightgray;
}

.btn-light:hover {
  background-color: var(--color-txt-secondary);
}

.btn-command {
  background: none;
  border: none;
  justify-content: start;
  color: var(--color-txt-primary);
}

.btn-command:hover {
  margin: 0px;
  background-color: #222;
  color: var(--color-txt-primary);
}

.btn-command:active {
  background-color: var(--color-btn-secondary);
  color: var(--color-txt-primary);
}

.terminal {
  padding: 2px;
  font-family: monospace;
  white-space: pre;
  text-wrap: wrap;
  color: var(--color-txt-primary);
}

.terminal.input::before {
  padding: 0px 4px 0px 8px;
  font-size: clamp(0.5rem, 1vw + 8px, 3rem);
  content: ">";
}

.terminal.input input:focus {
  border: none;
  outline: none;
}

.divider.white {
  height: 1px;
  background-color: white;
  width: 100%;
}

.divider.gray{
  height: 1px;
  background-color: gray;
  width: 100%;
}

@media (max-width: 930px) {
  .command__description {
    display: none;
    background-color: blue;
  }
}
